@import "~bootstrap/scss/bootstrap";

.alert-enter {
  opacity: 0;
}

.alert-enter-active {
  transition: opacity 500ms ease-out;
  opacity: 1;
}

.alert-exit-active {
  transition: opacity 350ms ease-out;
  opacity: 0;
}

.note-exit-active {
  animation: note 800ms ease-out forwards;
}

.note-enter-active {
  animation: note 800ms ease-in alternate-reverse;
}

@keyframes note {
  0% {
    transform: translateX(0);
  }

  30% {
    opacity: .7;
    transform: translateX(30px);
  }

  100% {
    opacity: 0;
    transform: translateX(-200px);
  }
}


div.alert {
  position: absolute;
  z-index: 1;
}

div.cell {
  background-color: blue;
  width: 90px;
  height: 90px;
  @include media-breakpoint-up(sm) {
    background-color: green;
    width: 120px;
    height: 120px;
  }
  @include media-breakpoint-up(md) {
    background-color: red;
    width: 150px;
    height: 150px;
  }
  @include media-breakpoint-up(lg) {
    background-color: yellow;
    width: 180px;
    height: 180px;
  }
  @include media-breakpoint-up(xl) {
    background-color: cyan;
    width: 180px;
    height: 180px;
  }
}

.tag-badge {
  text-align: center;
  font-size: x-large;
}

.pointer {
  cursor: pointer;
}
